// Specific CSS for your home-page
.home-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  height: 75vh;

  .home-banner-content{
  }

  h1{
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-size: 75px;
    text-transform: uppercase;
  }
}