// Specific CSS for your home-page
.home-banner{
  text-align: center;
  padding: 25px;

  h1{
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-size: 75px;
    text-transform: capitalize;
  }
}

.search-box{
  display: flex;

  .big-search{
    width: 75%;
  }
}