<div class="row">
  <div class="search-box form-inline">
    <%= form_tag search_path, method: :get, id: "search-box" do %>
      <%= text_field_tag :location,
          params[:location],
          class: "search-enter form-control form-control-lg input-lg",
          placeholder: "Where?"
        %>
      <%= button_tag class: "btn btn-primary btn-lg" do %>
        <i class="fa fa-search"></i>
      <% end %>
  <% end %>
  </div>
</div>

<!-- Algolia Places -->
<script src="https://cdn.jsdelivr.net/npm/places.js@1.9.0"></script>
<script>
  var placesAutocomplete = places({
    container: document.querySelector('#location')
  });
</script>