<div class="search-box">
    <div class="form-row">
      <%= form_tag search_path, method: :get, id: "search-box" do %>
        <%= text_field_tag :location,
            params[:location],
            class: "search-enter",
            placeholder: "Where?"
          %>
        <%= submit_tag "Search", class: "btn-treehouse"%>
      <% end %>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/places.js@1.9.0"></script>
<script>
  var placesAutocomplete = places({
    container: document.querySelector('#location')
  });
</script>