Search Page
Add filters

<% @gigs.each do |gig| %>
<<<<<<< HEAD
  <h1 class="gig gig-name"><%= @gig.name %></h1>
  <p class="gig gig-bio-index"><%= @gig.description %></p>
  <p class="gig gig-genre-index"><%= @gig.address %></p>
=======
>>>>>>> babaaef5f29e3c5795350b4299262f2a7c7ec2a4

<% end %>
