<%# Homepage -
Automatic side scrolling banner with clickable sections
Side bar with navigation
Links?  %>

<div class="banner">
  <div class="banner-content">
    <h1>Find a gig</h1>
    <%= render "search/search_box" %>
  </div>
  
  <video autoplay loop id="Video" muted plays-inline>
    <source src='<%= video_url 'background.mov' %>' type="video/mp4">
  </video>
  </div>
</div>