<%# Homepage -
Automatic side scrolling banner with clickable sections
Side bar with navigation
Links?  %>

<div class="banner banner-home">
  <div class="banner-content">
    <h1 data-aos="zoom-in">Find a gig</h1>
    <p>Are you a travelling musician and unfamiliar with the local scene?</p>
      <p>Find open gigs and plug in with highly rated venues and bands.</p>
    <br><br>
    <%= render "search/search_box", big: 'form-control-lg input-lg', big2: 'btn-lg' %>
  </div>
  
  <video autoplay loop id="Video" muted plays-inline>
    <source src='<%= video_url 'background.mov' %>' type="video/mp4">
  </video>
  </div>
</div>