<%# Venue creation -
    Add photos
    Add venue information
        Address
        Telephone
        Email
        Description
    Add Website


"address"
"telephone"
"email"
"description"
"website"
"user_id" %>



<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Hello There!</div>
      <div class='subtitle'>We're almost done. Before using our services you need to create an account.</div>
      <div class='input-fields'>
        <input type='text' placeholder='Username' class='input-line full-width'></input>
        <input type='email' placeholder='Email' class='input-line full-width'></input>
        <input type='password' placeholder='Password' class='input-line full-width'></input>

      </div>
      <div class='spacing'>or continue with <span class='highlight'>Facebook</span></div>
      <div><button class='ghost-round full-width'>Create Account</button></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="window">
    <ul class="items"></ul>
      <%= form_for(@venue) do |f| %>
        <fieldset class="name enable">
          <div class="icon left"><i class="user"></i></div>
            <%= f.text_field :name, placeholder: "Name" %>
          <div class="icon right button"><i class="arrow"></i></div>
        </fieldset>
      <fieldset class="telephone">
          <div class="icon left"><i class="letter"></i></div>
        <%= f.text_field :telephone, placeholder: "Telephone" %>
          <div class="icon right button"><i class="arrow"></i></div>
      </fieldset>
      <fieldset class="submit">
        <%= f.submit %>
      </fieldset>
     </div>
<% end %>
</div>





<%# <div class="container">
<form action="/venues" method="post">
    <ul class="items"></ul>
    <fieldset class="username enable">
        <div class="icon left"><i class="user"></i></div><input type="text" name="username" placeholder="Username" />
        <div class="icon right button"><i class="arrow"></i></div>
    </fieldset>
    <fieldset class="email">
        <div class="icon left"><i class="letter"></i></div><input type="mail" name="email" placeholder="Email" />
        <div class="icon right button"><i class="arrow"></i></div>
    </fieldset>
    <fieldset class="password">
        <div class="icon left"><i class="lock"></i></div><input type="password" name="password" placeholder="Password" />
        <div class="icon right button"><i class="arrow"></i></div>
    </fieldset>
    <fieldset class="thanks">
        <input type="submit" value="Submit"> 
    </fieldset>
</form>
</div> %>

<script>
function init() {
  // Generate li foreach fieldset
  for (var i = 0; i < count; i++) {
    var ul = document.querySelector('ul.items'),
        li = document.createElement("li");

    ul.appendChild(li);
  }
  // Add class active on first li
  ul.firstChild.classList.add('active');
}

function next(target) {
  var input = target.previousElementSibling;
  
  // Check if input is empty
  if (input.value === '') {
    body.classList.add('error');
  } else {
    body.classList.remove('error');
    
    var enable = document.querySelector('form fieldset.enable'),
        nextEnable = enable.nextElementSibling;
    enable.classList.remove('enable');
    enable.classList.add('disable');
    nextEnable.classList.add('enable');
    
    // Switch active class on left list
    var active = document.querySelector('ul.items li.active'),
        nextActive = active.nextElementSibling;
    active.classList.remove('active');
    nextActive.classList.add('active');
  }
}

function keyDown(event) {
  var key = event.keyCode,
      target = document.querySelector('fieldset.enable .button');
  if (key == 13 || key == 9) next(target);
}

var body = document.querySelector('body'),
    form = document.querySelector('form'),
    count = form.querySelectorAll('fieldset').length;

window.onload = init;
document.body.onmouseup = function (event) {
    var target = event.target || event.toElement;
    if (target.classList.contains("button")) next(target);
};
document.addEventListener("keydown", keyDown, false);

</script>