
<% @venues.each do |venue| %>
  <div class="col-xs-12 col-sm-12">
    <div class="card">
      <div class="card-category"><%= venue.address %></div>
      <div class="card-description">
        <h2><%= venue.name.upcase %></h2>
        <p><%= venue.description %></p>
      </div>
      <a class="card-link" href="#" ></a>
    </div>
  </div>
<% end %>

