@import url('https://fonts.googleapis.com/css?family=Shrikhand');

.banner-home h1{
  font-family: "Shrikhand";
  opacity: 0.8;
}

.banner-home p{
  font-size: 23px;
  line-height: 10px;
}

.banner-link{
  z-index: 3 !important;
  width: 100%;
  border-radius: 4px;
  padding: 11px;
  font-weight: lighter;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.2);
  font-family: "Roboto";
}

.banner {
  color: #fcfcfc;
  text-align: center;
  height: calc(100vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  box-shadow: -1px 6px 14px 0px #00000078;
}
.banner-small {
  height: 100%;
  min-height: 60vh;
  top: -70px;
  position: relative;
  margin-bottom: -10px;
  padding-top: 100px;
  // z-index: -1;
  h1{
    font-size: 75px !important;
    font-family: "Shrikhand";
  }
  p{
    font-size: 20px !important;
    opacity: 0.9;
  }
  .social-links{
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .banner-small{
    height: 100vh;
  }
  .banner-small h1{
    font-size: 45px !important;
  }
}

.banner h1 {
  font-size: 100px;
  font-weight: 500;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  margin-bottom: 30px;
}

.show-text{
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.02);
  margin-top: -40px;
  p{
    font-size: 21px;
  }
  h2{
    font-size: 17px;
    opacity: 0.8;
    font-weight: 200;
  }
}
