.card {
  height: 175px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  background-color: #FDFEFF;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  padding: 30px;
  color: black;
  margin: 10px;
}

.card-booking{
  position: absolute;
  top: 50px;
  right: 10px;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card-band-icons a {
  margin-right: 10px;
  font-size: 18px;
}

.card-links {
  position: absolute;
  right: 20px;
  top: 10px;
}
