.devise-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding: 30px;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 50px;
  background-color: white;
  border-radius: 3px;
  width: 40vw;
  margin: auto;
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .devise-card{
    width: 100%;
  }
}