.card-gig-index {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  flex-wrap: wrap;
  background-color: rgba(212, 212, 212, 0.5);
  margin-top: 50px;
  margin-left: 260px;
  margin-right: 260px;
  border-radius: 3px;
}

.row-gig-index {
  display: flex;
  flex-wrap: wrap;
  height: 330px;
  flex-direction: column;
  background: #FDFEFF;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 800px;
  margin: 30px;
 }


.gig-music-links  .gig-card {
  display: flex;
  flex-wrap: wrap;

  border: 1px solid black;

}

.gig-bio-index {
  font-weight: 400;
  margin-bottom: 10px;
}
.gig-genre-index {
  font-weight: 400;
}

.gig-photos .gig-card {
  border: 1px solid black;

}

.gig-icons a {
  margin-right: 10px;
  font-size: 18px;
}
.gig-genre-index {
  margin-bottom: 10px;
}
