.container-gig {
  display: flex;
  align-items:  center;
  justify-content: center;
  height: 90vh;
}
//Row sizing
.row-gig {
  // background: linear-gradient(#8CA6DB, #B993D6);
  // border: 1px solid black;
  flex-wrap: wrap;
  height: 560px;
  width: 1000px;
  display: flex;
  background: #FDFEFF;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
//Basic layout
.gig-text {
  width: 50%;
  padding: 5px;
}

.gig-text-index {
  width: 50%;
}

.gig-info {
  padding: 30px;
  // border: 1px solid black;
  height: 60%;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.gig-music-links {
  font-size: 15px;
  // border: 1px solid black;
  margin: 20px;
  height: 40%;
}

.gig-social-media {
  // border: 1px solid black;
  margin: 20px;
 }
.gig-photos {
  // border: 1px solid black;
  width: 50%;
}

//Font sizing

.bio {
  font-size: 18px;
}

.gig-name {
  margin-bottom: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

.gig-bio {
  margin-bottom: 18px;
}

.gig-bandcamp {
  margin-bottom: 20px;
}

.gig-photos {
  margin: 30px;
}
