// .search-enter {
//   width: 75% !important;
//   opacity: 0.8 ;
//   transition: width 0.3s ease, opacity 0.3s ease !important;
//   text-align: center;
//   &:focus{
//     width: 100% !important;
//     opacity: 1 !important;
//   }
// }

// .search-box{
//   text-align: center;
// }

// Algolia

.algolia-places{
  white-space:nowrap;
  width: 100%;
  padding: 0;
  display: inline !important;
  font-family: $body-font;
}

.ap-input{
  white-space:nowrap;
}
.ap-icon-pin{
  display: none;
}

.ap-icon-clear{
  display: none
}

.ap-dropdown-menu{
  text-align: left;
}

.ap-cursor{
  background-color: $light-purple;
}