.search-enter {
  opacity: 0.8 ;
  transition: width 0.3s ease, opacity 0.3s ease !important;
  &:focus{
    opacity: 1 !important;
  }
}

.search-box{
  text-align: center;
}

// Algolia

.algolia-places{
  white-space:nowrap;
  width: 100%;
  padding: 0;
  display: inline !important;
  font-family: $body-font;
}

.ap-input{
  white-space:nowrap;
}
.ap-icon-pin{
  color: $purple;
}

.ap-icon-clear{
  color: $purple;
}

.ap-dropdown-menu{
  text-align: left;
}

.ap-cursor{
  background-color: $light-purple;
}