.container {
  display: flex;
  align-items:  center;
  justify-content: center;
  height: 100%;
}

.row-form {
  // background: linear-gradient(#8CA6DB, #B993D6);
  flex-wrap: wrap;
  display: flex;
  flex-flow: column;
  padding: 25px 0;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.new-venue {
  display: flex;
  flex-flow: column;
}

.form-item {
 background: none;
  margin-bottom: 10px;
  line-height: 2.4em;
  font-family: roboto;
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 19px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  // flex: 0 0 100%; /* fg: 0, fs: 0, fb: 100% */
  min-width: 100%;
  padding-left: 10px;
 }

 .form-item-drop {
   padding: 10px;
   font-family: Lato; 
 }
 
// Funky side forms
 
 /* Style the form */
#regForm {
  background-color: rgba(252, 252, 252, 0.952);
  min-width: 300px;
  width: 420px;
  padding: 30px;
  height: 560px;
  border-radius: 3px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

#prevBtn {
  float: left;
}

#nextBtn {
  float: right;
}

#prevBtn, #nextBtn {
  cursor: pointer;
  background: none;
  border: 1px solid black;
  border-radius: 25px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 19px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 300;
  line-height: 2.5em;
  margin-top: auto;
  margin-bottom: 25px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100px; 
  margin: 30px;
}

#prevBtn:hover, #nextBtn:hover {
  background: rgba(255, 255, 255, 0.15);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
