.venue-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(212, 212, 212, 0.5);
  margin-top: 50px; 
  margin-left: 260px;
  margin-right: 260px;
  border-radius: 3px;
}
.card-venue-index {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  margin-top: 30px;
  flex-wrap: wrap;
  flex-direction: column;
}

.row-venue-index {
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  flex-direction: column;
  background: #FDFEFF;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 800px;
}
.venue-name-index {
  margin-bottom: 18px;
  text-transform: uppercase;
  font-weight: 400;
}