<div class="col-xs-12 col-sm-12">
  <div class="card">
    <div class="card-category"><%= @gig.address %></div>
    <div class="card-description">
      <h2><%= @gig.name %></h2>
      <p><%= @gig.description %></p>
    </div>
    <div class="card-links">
      <a href="http://<%=@gig.url%>"><i class="fab fa-facebook"></i></a>
    </div>
  </div>
</div>

